* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Arial, Helvetica, sans-serif;
}
/* Navbar top rules */
.navbar_top{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    top: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    z-index: 500;
    background-color: rgb(22, 22, 22);
    /* debug */
    /* border: 2px solid white; */
}
.speaker,
.allscreen {
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 3px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(119, 119, 119);
    padding: 3px;
}
/* Main page rules */
.main_container {
    height: 90vh;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(22,22,22);
    z-index: 0;
    overflow-y: auto;
    /* debug */
}
/* navbar down aka footer rules */
.navbar_down {
    display: flex;
    justify-content: space-between;
    align-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(49, 49, 49);
    height: 10vh;
    z-index:1;
}
.left {
    display: flex;
}
.btn {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    /* debug */
    /* background-color: red */
}
.icon {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.icon p {
    margin-top:7px;
    color: white;
    font-size:13px;
}
.caret {
    margin-left: 10px;
    font-size: 10px;
}