* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Arial, Helvetica, sans-serif;
}
/* Navbar top rules */
.navbar_top{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 500;
    /* debug */
    background-color: rgb(22, 22, 22);
    border: 2px solid white;
}
/* Main page rules */
.main_container {
    height: 90vh;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(22,22,22);
    z-index: 0;
    overflow-y: auto;
    /* debug */
}
/* navbar down aka footer rules */
.navbar_down {
    display: flex;
    justify-content: space-between;
    align-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    /* debug */
    height: 10vh;
    background-color: rgb(77, 77, 77);
    z-index:1;
}